/* ::::: http://cdn.yoho.cn/yohobuy-node/4.9.3/index.css ::::: */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::after, blockquote::before, q::after, q::before { content: none; }
a img { border: medium none; }
.clearfix::after { content: ""; display: block; clear: both; }
body { font-family: arial,SimHei; }
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot') format("embedded-opentype"), url('iconfont.woff') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");
}
.iconfont { font-family: iconfont ! important; font-size: 16px; font-style: normal; text-decoration: none; }
.left, .pull-left { float: left; }
.pull-right, .right { float: right; }
.center { text-align: center; }
.hide { display: none ! important; }
a:focus, input, textarea { outline: medium none; }
a { text-decoration: none; color: rgb(0, 0, 0); }
.yoho-page .floor-header { position: relative; margin: 80px 0px 40px; }
.yoho-page .floor-header .floor-title { margin: 0px auto; width: 298px; height: 31px; line-height: 31px; border: 1px solid rgb(0, 0, 0); font-size: 16px; text-align: center; }
.yoho-page .floor-header .header-navs { position: absolute; padding: 10px 0px; top: 0px; right: 0px; font-size: 14px; }
.yoho-page .floor-header .header-navs li { float: left; padding: 1px 15px; border-left: 1px solid rgb(204, 204, 204); }
.yoho-page .floor-header .header-navs li a { color: rgb(51, 51, 51); }
.yoho-page .floor-header .header-navs li:first-child { border-left: medium none; }
.yoho-page .floor-header .header-navs li:hover { text-decoration: underline; }
.yoho-header .tool-wrapper { width: 100%; height: 32px; line-height: 32px; font-size: 12px; background-color: rgb(244, 244, 244); }
.yoho-header .tool-wrapper .yoho-group-map { padding: 0px 5px; position: relative; }
.yoho-header .tool-wrapper .yoho-group-map .yoho-group-list { position: absolute; display: none; width: 170px; top: 32px; margin-left: -5px; background-color: rgb(244, 244, 244); padding: 20px 0px 20px 20px; z-index: 1000; }
.yoho-header .tool-wrapper .yoho-group-map li a { color: rgb(145, 150, 160); font-size: 14px; }
.yoho-header .tool-wrapper .yoho-group-map li:hover a { color: rgb(0, 0, 0); }
.yoho-header .tool-wrapper .yoho-group-map:hover { background-color: rgb(220, 220, 220); }
.yoho-header .tool-wrapper .yoho-group-map:hover .yoho-group-list { display: block; }
.yoho-header .tool-wrapper .yoho-buy-tools li { float: left; padding-right: 10px; position: relative; }
.yoho-header .tool-wrapper .yoho-buy-tools li span { display: inline-block; vertical-align: middle; line-height: 30px; }
.yoho-header .tool-wrapper .yoho-buy-tools li .hi { vertical-align: top; }
.yoho-header .tool-wrapper .yoho-buy-tools li a { color: rgb(142, 142, 142); }
.yoho-header .tool-wrapper .yoho-buy-tools .tag-seprate { width: 0px; margin-top: 11px; margin-right: 12px; height: 14px; float: left; border-left: 1px solid rgb(220, 220, 220); }
.yoho-header .tool-wrapper .simple-user-center { top: 32px; margin-left: -110px; width: 300px; position: absolute; background-color: rgb(248, 248, 248); z-index: 100; display: none; }
.yoho-header .tool-wrapper .myyoho:hover { background-color: rgb(220, 220, 220); }
.yoho-header .tool-wrapper .myyoho:hover .simple-user-center { display: block; }
.yoho-header .tool-wrapper .download-app-box { position: absolute; top: 32px; margin-left: -100px; width: 231px; height: 290px; background-color: rgb(248, 248, 248); z-index: 1000; display: none; }
.yoho-header .tool-wrapper .download-app-box .qr-img { position: relative; background-image: url('qr.png'); background-repeat: no-repeat; background-size: 100% 100%; margin: 32px auto 15px; width: 143px; height: 147px; }
.yoho-header .tool-wrapper .download-app-box .qr-words { height: 25px; line-height: 25px; font-size: 16px; text-align: center; }
.yoho-header .tool-wrapper .download-app-box .qr-more { margin-top: 6px; line-height: 25px; font-size: 14px; text-align: center; }
.yoho-header .tool-wrapper .phoneapp:hover { background-color: rgb(220, 220, 220); }
.yoho-header .tool-wrapper .phoneapp:hover .download-app-box { display: block; }
.yoho-header .tool-wrapper .icon-hamburger { background-image: url('sprite.layout.png'); background-position: 0px -12px; width: 16px; height: 12px; display: inline-block; vertical-align: middle; }
.yoho-header .tool-wrapper .icon-bottomarrow { background-position: -30px -13px; height: 5px; }
.yoho-header .tool-wrapper .icon-bottomarrow, .yoho-header .tool-wrapper .icon-papers { background-image: url('sprite.layout.png'); width: 10px; margin-top: -2px; }
.yoho-header .tool-wrapper .icon-papers { background-position: -18px 0px; height: 14px; }
.yoho-header .tool-wrapper .icon-heart { background-position: -30px 0px; width: 12px; height: 11px; }
.yoho-header .tool-wrapper .icon-heart, .yoho-header .tool-wrapper .icon-mail { background-image: url('sprite.layout.png'); margin-top: -2px; }
.yoho-header .tool-wrapper .icon-mail { background-position: 0px 0px; width: 16px; height: 10px; }
.yoho-header .tool-wrapper .icon-phone { background-image: url('sprite.layout.png'); background-position: 0px -25px; width: 8px; height: 14px; margin-top: -2px; }
.yoho-header .head-wrapper { width: 100%; }
.yoho-header .head-wrapper .main-nav-list { display: inline-block; vertical-align: top; padding-top: 45px; }
.yoho-header .head-wrapper .main-nav-list li { float: left; padding: 8px 22px 5px; text-align: center; }
.yoho-header .head-wrapper .main-nav-list li a { font-size: 12px; line-height: 14px; }
.yoho-header .head-wrapper .main-nav-list li .name-cn a { font-size: 16px; }
.yoho-header .head-wrapper .main-nav-list li .name-en a { color: rgb(142, 142, 142); }
.yoho-header .head-wrapper .main-nav-list .cure { color: rgb(255, 255, 255); background-color: rgb(58, 58, 58); }
.yoho-header .head-wrapper .main-nav-list .cure .name-cn > a, .yoho-header .head-wrapper .main-nav-list .cure .name-en > a { color: rgb(255, 255, 255); }
.yoho-header .head-wrapper .outlets-logo { background: transparent url('outlets.png') no-repeat scroll 50% center; width: 200px; height: 34px; left: 45%; margin-top: 28px; position: absolute; display: none; }
.yoho-header .head-wrapper .main-logo { background: transparent url('logo-en.png') no-repeat scroll 50% center; width: 182px; height: 53px; left: 43%; margin-top: 22px; position: absolute; animation: 20s ease 0s normal none infinite running logoflip; }
.yoho-header .head-wrapper .main-logo .main-link { display: block; width: 100%; height: 100%; }
.yoho-header .head-wrapper .func-area { float: right; width: 378px; padding-right: 18px; margin-top: 45px; margin-bottom: 12px; }
.yoho-header .head-wrapper .search-2016 { width: 320px; height: 28px; background-color: rgb(58, 58, 58); border: 1px solid rgb(58, 58, 58); display: inline-block; overflow: hidden; }
.yoho-header .head-wrapper .search-2016 input { width: 240px; height: 100%; border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-sizing: border-box; padding: 7px 0px 9px 10px; }
.yoho-header .head-wrapper .search-2016 .search-btn { background: transparent url('search.png') no-repeat scroll 50% center; width: 80px; height: 28px; float: right; border: medium none; cursor: pointer; }
.yoho-header .head-wrapper .search-suggest { position: absolute; width: 320px; border: 1px solid rgb(0, 0, 0); margin-top: 29px; padding-top: 20px; background-color: rgb(255, 255, 255); display: none; z-index: 1000; }
.yoho-header .head-wrapper .go-cart { width: 30px; height: 30px; float: right; cursor: pointer; position: relative; }
.yoho-header .head-wrapper .go-cart .iconfont { font-size: 26px; color: rgb(58, 58, 58); }
.yoho-header .head-wrapper .go-cart .goods-num-tip { position: absolute; background: transparent url('ic-information.png') no-repeat scroll 0% 0%; width: 27px; height: 20px; top: -10px; right: -15px; color: rgb(255, 255, 255); text-align: center; line-height: 20px; font-size: 12px; }
.yoho-header .head-wrapper .mini-cart-wrapper { position: absolute; top: 30px; right: -14px; width: 378px; z-index: 1000; background: rgb(248, 248, 248) none repeat scroll 0% 0%; display: none; }
.yoho-header .head-wrapper .mini-cart-wrapper .empty-cart { padding: 280px 0px 200px; text-align: center; background: transparent url('empty_car.png') no-repeat scroll 106px 132px; }
.yoho-header .head-wrapper .mini-cart-wrapper .loading-cart { padding: 200px 0px; text-align: center; background: transparent url('loading.gif') no-repeat scroll center 170px; }
.yoho-header .nav-wrapper { height: 40px; width: 100%; background-color: rgb(58, 58, 58); position: relative; }
.yoho-header .nav-wrapper .sub-nav-list li { line-height: 40px; padding-right: 46px; box-sizing: border-box; margin-right: 36px; display: inline-block; }
.yoho-header .nav-wrapper .sub-nav-list .newlogo { display: block; width: 26px; height: 12px; background-image: url('new.png'); background-repeat: no-repeat; position: absolute; right: -29px; top: -6px; }
.yoho-header .nav-wrapper .sub-nav-list a { color: rgb(255, 255, 255); font-size: 14px; line-height: 14px; display: inline-block; position: relative; }
.yoho-header .nav-wrapper .sub-nav-list li:hover a { padding-bottom: 3px; border-bottom: 2px solid rgb(255, 255, 255); }
.yoho-header .nav-wrapper .third-nav-wrapper { width: 100%; height: 410px; box-sizing: border-box; position: absolute; left: 0px; top: 38px; display: none; padding: 30px 0px; background-color: rgb(248, 248, 248); z-index: 900; }
.yoho-header .nav-wrapper .third-nav-wrapper a { font-size: 14px; border-bottom: medium none ! important; }
.yoho-header .nav-wrapper .third-nav-wrapper dl { float: left; width: 278px; height: 352px; box-sizing: border-box; border-left: 1px solid rgb(204, 204, 204); padding: 0px 50px; }
.yoho-header .nav-wrapper .third-nav-wrapper dl:first-child { width: 228px; border-left: 0px none; padding-left: 0px; }
.yoho-header .nav-wrapper .third-nav-wrapper dt { width: 180px; padding-bottom: 10px; border-bottom: 1px solid rgb(0, 0, 0); line-height: 18px; margin-bottom: 20px; }
.yoho-header .nav-wrapper .third-nav-wrapper dt a { color: rgb(0, 0, 0); }
.yoho-header .nav-wrapper .third-nav-wrapper dd { line-height: 14px; height: 14px; margin-bottom: 24px; }
.yoho-header .nav-wrapper .third-nav-wrapper dd a { color: rgb(161, 161, 161); }
.yoho-header .nav-wrapper .third-nav-wrapper dd a:hover { text-decoration: underline; }
.yoho-header .nav-wrapper .third-nav-wrapper .hot { color: rgb(238, 0, 17); }
.yoho-header .nav-wrapper .show-detail { box-sizing: border-box; padding-left: 19px; padding-right: 19px; width: 337px; height: 250px; float: right; }
.yoho-header .nav-wrapper .show-detail .title { width: 100%; margin-top: 40px; text-align: center; font-size: 14px; color: rgb(0, 0, 0); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.yoho-footer { font-size: 12px; }
.yoho-footer * { box-sizing: border-box; }
.yoho-footer .red { color: rgb(238, 0, 17); }
.yoho-footer .rgb6 { color: rgb(102, 102, 102); }
.yoho-footer .rgbf { color: rgb(255, 255, 255); }
.yoho-footer .index-foot { background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 20px 0px; }
.yoho-footer .index-foot dd { float: left; width: 370px; margin-right: 20px; overflow: hidden; }
.yoho-footer .index-foot dd ul { margin-top: 18px; padding-top: 18px; }
.yoho-footer .index-foot dd.last { margin-right: 0px; }
.yoho-footer .foot-panel { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px; }
.yoho-footer .title { position: relative; text-align: center; }
.yoho-footer .title-line { border-bottom: 1px solid rgb(221, 221, 221); position: absolute; top: 9px; width: 100%; left: 0px; }
.yoho-footer .text { position: absolute; width: 100%; text-align: center; left: 0px; top: 0px; }
.yoho-footer .text span { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 18px; line-height: 18px; padding: 0px 10px; }
.yoho-footer .item-nav { padding-top: 20px; }
.yoho-footer .item-nav span { color: rgb(255, 255, 255); padding: 0px 3px; cursor: pointer; font-size: 20px; }
.yoho-footer .item-nav .cur { color: rgb(153, 153, 153); }
.yoho-footer .vote { line-height: 24px; }
.yoho-footer .vote input { margin: 0px 5px 0px 1px; }
.yoho-footer .vote .button { height: 24px; line-height: 24px; width: 55px; font-size: 12px; margin-top: 11px; margin-right: 10px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: inline-block; text-align: center; cursor: pointer; }
.yoho-footer .vote p { height: 24px; overflow: hidden; }
.yoho-footer .vote textarea { width: 98%; height: 68px; vertical-align: middle; margin: 5px 0px 0px; resize: none; }
.yoho-footer .vote-item p { float: left; width: 50%; }
.yoho-footer .mobile { margin-right: -10px; }
.yoho-footer .mobile li { margin-right: 10px; float: left; }
.yoho-footer .mobile img { display: block; width: 103px; height: 131px; }
.yoho-footer .two-dim { margin-right: -10px; overflow: hidden; }
.yoho-footer .two-dim li { border: 1px solid rgb(221, 221, 221); margin-right: 10px; }
.yoho-footer .two-dim li p { text-align: center; margin-top: 13px; margin-bottom: 10px; line-height: 12px; }
.yoho-footer .dim-img { display: block; width: 87px; height: 87px; margin: 7px; }
.yoho-footer .footerbottom { width: 100%; }
.yoho-footer .promise { padding: 20px 0px 10px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.yoho-footer .promise .left { margin-right: 60px; line-height: 30px; font-size: 12px; font-weight: 700; }
.yoho-footer .promise .left .iconfont { display: inline-block; font-weight: 400; font-size: 22px; vertical-align: middle; margin-right: 5px; }
.yoho-footer .promise .left:first-child .iconfont { font-size: 27px; }
.yoho-footer .subscribe { border: 1px solid rgb(38, 38, 38); width: 240px; }
.yoho-footer .subscribe input { width: 180px; height: 32px; padding: 0px 10px; line-height: 32px; border: medium none; margin: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.yoho-footer .subscribe a { display: block; float: right; margin-right: 20px; font-size: 20px; line-height: 28px; opacity: 0.5; }
.yoho-footer .footer-help { background: rgb(0, 0, 0) none repeat scroll 0% 0%; font-size: 12px; overflow: hidden; }
.yoho-footer .footer-help > div { padding: 15px 0px; border-top: 1px solid rgb(38, 38, 38); }
.yoho-footer .footer-help ul { width: 110%; }
.yoho-footer .footer-help p { line-height: 24px; }
.yoho-footer .footer-help p span { color: rgb(255, 255, 255); }
.yoho-footer .footer-help p a { color: rgb(102, 102, 102); }
.yoho-footer .footer-help p a:hover { text-decoration: underline; }
.yoho-footer .footer-help li { width: 180px; }
.yoho-footer .footer-link { background: rgb(0, 0, 0) none repeat scroll 0% 0%; padding: 10px 0px 30px; font-size: 12px; }
.yoho-footer .footer-link .right-flag { margin-top: 3px; }
.yoho-footer .footer-link .right-flag a { margin-right: 5px; }
.yoho-footer .footer-link .right-flag .govicon { float: left; border-radius: 2px; margin-right: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 26px; height: 34px; }
.yoho-footer .footer-link .about-us { line-height: 20px; color: rgb(102, 102, 102); margin-left: 10px; }
.yoho-footer .footer-link .about-us a { color: rgb(102, 102, 102); }
.yoho-footer .footer-link .about-us span { padding: 0px 10px; }
.yoho-footer .return-top { position: fixed; width: 60px; height: 60px; left: 50%; margin-left: 595px; text-align: center; line-height: 50px; color: rgb(255, 255, 255); background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.5; bottom: 20px; cursor: pointer; z-index: 4; }
.yoho-footer .return-top .iconfont { font-size: 34px; }
.yoho-footer .return-top:hover { opacity: 0.9; }
.yoho-footer .return-top.min { left: 100%; right: 20px; margin-left: auto; }
.floor-header { position: relative; margin: 80px 0px 40px; }
.floor-header .floor-title { margin: 0px auto; width: 298px; height: 31px; line-height: 31px; border: 1px solid rgb(0, 0, 0); font-size: 16px; text-align: center; }
.floor-header .header-navs { position: absolute; padding: 10px 0px; top: 0px; right: 0px; font-size: 14px; }
.floor-header .header-navs li { float: left; padding: 1px 15px; border-left: 1px solid rgb(204, 204, 204); }
.floor-header .header-navs li a { color: rgb(51, 51, 51); }
.floor-header .header-navs li:first-child { border-left: medium none; }
.floor-header .header-navs li:hover { text-decoration: underline; }
.slide-switch { display: none; }
.slide-switch a { display: block; position: absolute; top: 50%; margin: -30px 0px 0px; width: 60px; height: 60px; line-height: 56px; text-align: center; z-index: 2; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.55; }
.slide-switch a .iconfont { font-size: 32px; color: rgb(89, 88, 90); }
.slide-switch a:hover { opacity: 0.9; }
.slide-switch .prev { left: 0px; }
.slide-switch .next { right: 0px; }
.home-page { width: 1150px; margin: 10px auto 0px; }
.home-page .slide-container { position: absolute; left: 0px; right: 0px; height: 450px; }
.home-page .slide-thumb-container { height: 510px; }
.home-page .slide-wrapper { position: relative; height: 450px; overflow: hidden; }
.home-page .slide-wrapper ul { position: relative; height: 100%; }
.home-page .slide-wrapper li { display: none; position: absolute; top: 0px; right: 0px; width: 100%; height: 100%; }
.home-page .slide-wrapper li a { display: block; height: 100%; width: 1150px; margin: 0px auto; }
.home-page .slide-wrapper li img { width: 100%; height: 100%; }
.home-page .slide-wrapper:hover .slide-switch.show, .home-page .slide-wrapper li:first-child { display: block; }
.home-page .slide-container-placeholder { height: 450px; width: 100%; }
.home-page .slide-thumb-container-placeholder { height: 510px; }
.home-page .slide-switch { display: block; }
.home-page .slide-switch a { position: absolute; top: 50%; margin: -30px 0px 0px; width: 60px; height: 60px; line-height: 56px; text-align: center; z-index: 2; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.55; }
.home-page .slide-switch a .iconfont { font-size: 32px; color: rgb(89, 88, 90); }
.home-page .slide-switch a.prev { left: 50%; margin-left: -575px; }
.home-page .slide-switch a.next { right: 50%; margin-right: -575px; }
.home-page .slide-switch a:hover { opacity: 0.9; }
.home-page .thumb-pagination { width: 1148px; margin: 6px auto 0px; padding-left: 2px; }
.home-page .thumb-pagination li { position: relative; float: left; margin-left: 6px; width: 138px; height: 54px; }
.home-page .thumb-pagination li a { position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.3; }
.home-page .thumb-pagination li img { width: 100%; height: 100%; }
.home-page .thumb-pagination li:first-child { margin: 0px; }
.home-page .thumb-pagination li.focus a { opacity: 0; }
.home-page .new-report img { display: block; width: 100%; height: 100%; }
.home-page .new-report .report-list { float: left; width: 868px; }
.home-page .new-report .report-list li { float: left; margin: 0px 8px 8px 0px; width: 185px; height: 248px; overflow: hidden; }
.home-page .new-report .report-list li:first-child { margin-right: 7px; width: 282px; height: 504px; }
.home-page .new-report .last-item { float: left; width: 282px; height: 504px; overflow: hidden; }
.home-page .preference-brand { overflow: hidden; }
.home-page .img-brand { position: relative; width: 100%; height: 175px; overflow: hidden; }
.home-page .img-brand ul { width: 1158px; }
.home-page .img-brand li { float: left; margin-right: 8px; width: 378px ! important; height: 175px; line-height: 175px; overflow: hidden; font-size: 0px; text-align: center; }
.home-page .img-brand li img { max-width: 100%; max-height: 100%; vertical-align: middle; }
.home-page .img-brand .img-brand-switch { display: none; }
.home-page .img-brand .img-brand-switch a { position: absolute; top: 50%; margin: -20px 0px 0px; width: 40px; height: 40px; line-height: 40px; text-align: center; z-index: 2; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.55; }
.home-page .img-brand .img-brand-switch a.prev { left: 0px; }
.home-page .img-brand .img-brand-switch a.next { right: 0px; }
.home-page .img-brand .img-brand-switch a:hover { opacity: 0.9; }
.home-page .img-brand:hover .img-brand-switch { display: block; }
.home-page .logo-brand { width: 100%; height: 282px; overflow: hidden; }
.home-page .logo-brand ul { width: 1158px; }
.home-page .logo-brand li { float: left; margin: 8px 8px 0px 0px; width: 185px; height: 86px; line-height: 86px; font-size: 0px; text-align: center; }
.home-page .logo-brand li img { max-width: 100%; max-height: 100%; vertical-align: middle; }
.home-page .logo-brand .logo-brand-switch { position: relative; background: transparent url('logo-brand-line.png') no-repeat scroll 50% center; line-height: normal; }
.home-page .logo-brand .logo-brand-switch .iconfont { position: absolute; left: 50%; font-size: 32px; }
.home-page .logo-brand .logo-brand-switch .iconfont.prev { top: 10px; margin-left: -48px; }
.home-page .logo-brand .logo-brand-switch .iconfont.next { bottom: 12px; margin-left: 20px; }
.home-page .logo-brand .brand-more { font-size: 16px; }
.home-page .logo-brand .brand-more:hover { text-decoration: underline; }
.home-page .floor-header { position: relative; margin: 80px 0px 40px; }
.home-page .floor-header .floor-title { margin: 0px auto; width: 298px; height: 31px; line-height: 31px; border: 1px solid rgb(0, 0, 0); font-size: 16px; text-align: center; }
.home-page .floor-header .header-navs { position: absolute; padding: 10px 0px; top: 0px; right: 0px; font-size: 14px; }
.home-page .floor-header .header-navs li { float: left; padding: 1px 15px; border-left: 1px solid rgb(204, 204, 204); }
.home-page .floor-header .header-navs li a { color: rgb(51, 51, 51); }
.home-page .floor-header .header-navs li:first-child { border-left: medium none; }
.home-page .floor-header .header-navs li:hover { text-decoration: underline; }
.g-list li { float: left; }
.g-list li a { position: relative; display: block; overflow: hidden; }
.g-list li a img, .g-mask { width: 100%; height: 100%; }
.home-page .tpl-recommend { width: 100%; position: relative; }
.home-page .tpl-recommend a { display: block; }
.home-page .tpl-recommend a img { display: block; width: 100%; height: 100%; }
.home-page .tpl-recommend .tpl-body { margin-bottom: 8px; }
.home-page .tpl-recommend .tpl-nav { float: left; overflow: hidden; }
.home-page .tpl-recommend .tpl-nav .tpl-keywords { margin-bottom: 8px; }
.home-page .tpl-recommend .tpl-nav .tpl-category { padding: 10px 0px; background-color: rgb(248, 248, 248); overflow: hidden; }
.home-page .tpl-recommend .tpl-nav .tpl-category a { float: left; width: 50%; text-align: center; color: rgb(0, 0, 0); overflow: hidden; }
.home-page .tpl-recommend .tpl-brands { float: left; overflow: hidden; margin-left: 8px; }
.home-page .tpl-recommend .tpl-brands li { margin-top: 8px; }
.home-page .tpl-recommend .tpl-types { float: left; overflow: hidden; margin-top: -8px; width: 579px; }
.home-page .tpl-recommend .tpl-types li { float: left; margin-left: 8px; margin-top: 8px; }
.home-page .tpl-recommend .tpl-types li a { width: 185px; height: 248px; }
.home-page .tpl-recommend .tpl-products { overflow: hidden; margin-left: -10px; }
.home-page .tpl-recommend .tpl-products li { float: left; margin-left: 10px; }
.home-page .tpl-recommend .tpl-products li a { width: 222px; height: 298px; }
.home-page .tpl-recommend .tpl-nav { width: 185px; }
.home-page .tpl-recommend .tpl-nav .keywords0, .home-page .tpl-recommend .tpl-nav .keywords1, .home-page .tpl-recommend .tpl-nav .keywords2 { margin-bottom: 10px; height: 76px; }
.home-page .tpl-recommend .tpl-nav .tpl-category { height: 228px; }
.home-page .tpl-recommend .tpl-nav .tpl-category a { height: 38px; line-height: 38px; font-size: 14px; }
.home-page .tpl-recommend .tpl-brands { width: 378px; height: 512px; }
.home-page .tpl-recommend .tpl-brands li a { height: 248px; }
.home-page .singlehot { overflow: hidden; margin-left: -8px; }
.home-page .singlehot li { margin-left: 8px; margin-bottom: 8px; }
.home-page .singlehot li a { width: 185px; height: 248px; }
.home-page .singlehot .impo1, .home-page .singlehot .impo9 { width: 378px; }
.home-page .floor-ad a { display: block; height: 129px; }
.home-page .floor-ad a img { display: block; width: 100%; height: 100%; }
.home-page .goods-container { margin-right: -10px; width: inherit; padding-top: 0px; }
.home-page .goods-container .good-info { margin-bottom: 0px; width: 280px; height: 485px; }
.home-page .goods-container .good-detail-img { height: 374px; }
.home-page .goods-container .good-detail-text { text-align: center; }
.home-page .commodity .loading { position: relative; width: 100%; text-align: center; padding-top: 40px; }
.home-page .commodity .loading a { display: block; height: 35px; width: 120px; margin: 0px auto 40px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 14px; line-height: 35px; text-align: center; }
.boys .tpl-nav .keywords0 { margin-bottom: 10px ! important; height: 152px ! important; }
.boys .tpl-nav .keywords1 { height: 86px ! important; }
.boys .tpl-nav .tpl-category a { height: 38px ! important; line-height: 38px ! important; font-size: 14px ! important; }
.boys .tpl-brands { margin-top: -8px ! important; }
.boys .goods-container .good-info, .lifestyle .goods-container .good-info { width: 222px ! important; height: 408px ! important; }
.boys .goods-container .good-info .good-detail-img, .lifestyle .goods-container .good-info .good-detail-img { height: 298px ! important; }
.good-info { margin-bottom: 35px; width: 222px; margin-right: 10px; float: left; }
.good-info .good-detail-img { width: 100%; height: 315px; position: relative; }
.good-info .good-detail-img .good-thumb, .good-info .good-detail-img img.lazy { display: block; overflow: hidden; width: 100%; height: 100%; }
.good-info .good-detail-text { color: rgb(34, 34, 34); font-size: 12px; text-align: left; overflow: hidden; }
.good-info .good-detail-text > a { margin-top: 16px; line-height: 1.5; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.good-info .good-detail-text > .price { margin-top: 5px; line-height: 22px; }
.good-info .tag-container { font-size: 12px; height: 22px; line-height: 22px; }
.good-info .tag-container .good-tag:nth-last-of-type(1) { margin-right: 0px; }
.goods-container { height: auto; padding: 25px 0px 0px; position: relative; width: 980px; }
.goods-container .good-info { width: 235px; }
.center-content { width: 1150px; margin-left: auto; margin-right: auto; }
@media screen and (min-width: 1150px) {
}
@media screen and (min-width: 1150px) {
}
.register-page .msg-tip::before { display: inline-block; margin-right: 5px; width: 12px; height: 12px; background-image: url('sprite.passport.png'); background-position: -162px -58px; content: ""; }
.register-page .success-box .success-text::before { position: relative; top: 6px; display: inline-block; margin-right: 5px; width: 29px; height: 29px; background-image: url('sprite.passport.png'); background-position: -192px -81px; content: ""; }
.hide { display: none; }
.yohobindrow::after { display: block; clear: both; content: ""; }
.validaterow::after { display: block; clear: both; content: ""; }
.validatepicrow::after { display: block; clear: both; content: ""; }
.protoctolwrapper::after { display: block; clear: both; content: ""; }
.gobindwrapper::after { display: block; clear: both; content: ""; }
.order-detail-page .differentOrder .differentBag::before { content: ""; position: absolute; width: 0px; height: 0px; border-bottom: 10px solid rgb(0, 0, 0); border-left: 10px solid transparent; border-right: 10px solid transparent; top: -10px; right: 113px; }
